
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<p>
  <strong>Roll no:</strong>
  <%= @student.roll_no %>
</p>


<%= link_to 'Back', students_path %>
